In [ ]:
import pandas as pd

# Python Crash Course IDSP 2025 - Lecture 05

* seeding of randomnes
* type checking with isinstance()

More pandas:

* recap pandas so far
* tilde operator
* finding unique values
* filtering out missing values
* changing values in a cell
* how not to do it ("a value is being tried to set...")
* setting a data type for a series
* groupby!!

**Binary search algorithm** (if we get to it)

# More coding hacks

* type checking with `isinstance()`
* seeding of randomness with `random.seed()`

In [ ]:
# type checking
# how to check if an object is of a certain type?
type(3)==int # ok, but not ideal
isinstance(3, int) # MUCH BETTER!

In [ ]:
# random seeding
import random
# random.seed(1312)
random.choice(range(100))

# INSERT PANDAS RECAP

# pandas functions

```python
pd.read_csv()
pd.DataFrame()
pd.concat()
```

# pandas DataFrame attributes
```python
.index
.column
.shape
```

# pandas methods for DataFrames

```python
.head()
.tail()
.describe()
.sort_values()
.drop()
.reset_index()
```

# Boolean indexing (filtering by condition)

##### `df[columnlabel]` can be combined with comparison `> < == !=`  operators
##### `conditions` can be combined with "bitwise and"  `&`, "bitwise or" `|`  operators
##### `df[condition]` returns only those rows where condition is True
##### `df[(condition1) & (condition2)]` returns only those rows where both conditions are True
##### `df[(condition1) | (condition2)]` returns only those rows at least one of the conditions is True

***
# Let's load our Titanic data set again

In [ ]:
df = pd.read_csv("./data/titanic.csv")

# Try it out yourself!

* read in the data one more time (we messed around with the old data frame) with `pd.read_csv()`
* filter by 2 conditions: `"Sex"=="female"` and `"Age">60`
* save a COPY of the filtered data set to the variable `old_ladies`
* how many old ladies were on the Titanic? (`len()`)
* how may of the old ladies were badass ladies that survived? `"Survived"==1`
* what is the mean fare that the old ladies paid? (`.describe()`, or calculate it manually, or with `.mean()`)

In [ ]:
# YOUR CODE HERE

***

## UNIQUE VALUES

In [ ]:
# df.head(3)
# set(df.Survived) # option 1
# df["Survived"].unique() # option 2

***

## Tilde operator `~` in pandas means `not` ("inversion" operator)

In [ ]:
# everyone with an Age value below 18 (NA are not considered)
df[df["Age"] < 18]

In [ ]:
# everyone with an Age value above or equal 18 (NA are NOT considered)
df[df["Age"] >= 18]

In [ ]:
# everyone with an Age value NOT below 18 (NA are CONSIDERED!)
df[~(df["Age"] < 18)]

***

## MISSING VALUES

### Filtering out missing values (NaNs) with boolean conditions

* `NaN` .... "not a number"
* pandas functions: `.isna()` and `.notna()` (isna = is not available, notna = not not available)
* Note, for pandas: "not available" (includes both `NaN` and `None`)

In [ ]:
df.head()
# in rows with index 0,2,4 the Cabin data is missing

In [ ]:
df["Cabin"].isna()
# returns for each row whether data is NOT AVAILABLE (True) or available (False)

In [ ]:
df["Cabin"].notna()
# returns for each row whether data is AVAILABLE (True) and not available (False)

### How to use `isna` and `notna` to clean data?

In [ ]:
# boolean indexing to only have rows where we know the Cabin value:
my_condition = df["Cabin"].notna()
df[my_condition]
# or, shorter: df[df["Cabin"].notna()]

In [ ]:
# filter by available data in *both* Age and Cabin columns 
df[(df['Age'].notna()) & (df['Cabin'].notna())]

In [ ]:
# calling notna on entire dataframe:
df.notna()

### What if we don't want missing data ANYwhere?

`.dropna()`

has the optional parameter `axis`, default=0

In [ ]:
# calling docstring for help! Note we have to spell out the object
# that the dropna method is applied to:
#?dropna # doesn't work
#?pd.dropna # doesn't work
?pd.DataFrame.dropna 
# works!

In [ ]:
df.dropna() # drops all ROWS with missing values (in ANY of the columns)

In [ ]:
df.dropna(axis=0) # drops all ROWS with missing values (in ANY of the columns) 
# (same as cell before; axis=0 is default value of optional parameter "axis")

In [ ]:
df.dropna(axis=1) # drops all COLUMNS with missing values (in ANY of the rows)

# How to *replace* missing values?

rather than dropping entire rows/columns...

`.fillna()`

In [ ]:
df.fillna(0)

In [ ]:
df.fillna("no-info")

In [ ]:
df["Cabin"] = df["Cabin"].fillna("no-cabin") # this line of code changes the df!!
df

***

## Changing values in a cell

#### `df.loc[rowlabel, columnlabel] = new_value`

In [ ]:
# this will change the value in the cell of the first row, column "Name"
df.loc[0, "Name"] = "S.O.S" # assigning CHANGES the object!
df.head()

In [ ]:
# this will change the value in the cells of the first 3 rows, column "Name"
df.loc[[0,1,2], "Name"] = "Not Me Please!" # assigning CHANGES the object!
df.head()

***

## Replacing values "dynamically"

`.replace()`

In [ ]:
?replace # correct to see the docstring!

In [ ]:
df.replace(to_replace=0, value="zero")

***

## SettingWithCopyWarning

... and how to debug

In [ ]:
# let's add a column, "lifeboat"...
df["lifeboat"] = None
# and let's assume all kids were taken to a lifeboat:
df[df["Age"]<18] # for these rows, we want lifeboat=True
df[df["Age"]<18]["lifeboat"] # so we need to set all these values to True
df[df["Age"]<18]["lifeboat"] = True
df.head(20) # why didn't it work?

# Try it out yourself!

This line of code 

```python
df[df["Age"]<18]["lifeboat"] = True
```

raised this error message:
```
/var/folders/66/3jkth_7d5gggg6pyr8yywwt40000gn/T/ipykernel_93168/2070943703.py:6: SettingWithCopyWarning: 
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[df["Age"]<18]["lifeboat"] = True
```

Use the documentation (link in error message!) & google/StackOverflow to figure out how to *correct* the line of code.

In [ ]:
# YOUR DEBUGGED CODE HERE

***

## GROUPING 😱

In [ ]:
grouping = df.groupby("Sex")
grouping

In [ ]:
for group in grouping:
    print(group)
    #print(len(group))
    #print(type(group))

In [ ]:
for a, b in grouping:
    print(a)

In [ ]:
for a, b in grouping:
    print(b)

In [ ]:
group_list = []
for a, b in grouping:
    group_list.append(b)
group_list[0]
group_list[1]

In [ ]:
grouping["Age"].mean()

In [ ]:
grouping["Fare"].mean()

In [ ]:
grouping.Age.max()

# Try it out yourself!

Use `.groupby()` to compute the mean ages of Survived vs. not-Survived passengers.

There are many ways to solve this, but you could do it with one single line of code!

In [ ]:
# YOUR CODE HERE

***

# Binary search...

(PDF slides & `.py` file shown in class)